### 최상단 Git의 커밋 기록(로그)
/et --hard f32cc7c

### IntelliJ IDEA ###
.idea/
# infra 폴더(모듈) 내의 db 폴더 제외
infra/db/

# infra 폴더(모듈) 내의 Docker 관련 YAML 파일(.yml) 제외
infra/*.yml
infra/*.yaml

# adapter 폴더 내 yml 파일 제외
metplix-adapters/adapter-http/src/main/resources/adapter-http-property.yml
metplix-adapters/adapter-persistence/src/main/resources/adapter-persistence-property.yml

# apps 폴더 내 yml 파일 제외
metplix-apps/app-api/src/main/resources/application.yml

# adapter 폴더 내 샘플파일 제외
metplix-adapters/adapter-persistence/src/main/java/com/metplix/entity/SampleEntity.java
metplix-adapters/adapter-persistence/src/main/java/com/metplix/repository/SampleRepository.java
metplix-adapters/adapter-persistence/src/main/java/com/metplix/repository/SampleJpaRepository.java
metplix-adapters/adapter-persistence/src/main/java/com/metplix/repository/SampleCustomRepository.java
metplix-adapters/adapter-persistence/src/main/java/com/metplix/repository/SampleCustomRepositoryImpl.java

# core-port 모듈 샘플 파일 제외
metplix-core/core-port/src/main/java/com/metplix/sample/SamplePersistencePort.java


.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store